version: "3"
services:
  federation:
    image: sovryn/fed-tokenbridge:8.6
    command: --name ${FED_ID}
    volumes:
      - ./federator-env/${FED_ENV}/:/app/federator/config
      - ./federator-env/${FED_ENV}/db:/app/federator/db
    environment:
      - PM2_PUBLIC_KEY=${PM2_PUBLIC_KEY}
      - PM2_SECRET_KEY=${PM2_SECRET_KEY}
